.web-design-expert {
    text-align: center;
}

.catch-phrase {
    text-align: center;
    font-size: 64px;
}

.introduction {
    text-align: center;
}

.hairdresser-sample {
    pointer-events: none;
    border:none;

}

